.footer {
  background-color: #262626;
  color:gold;
  margin-top: 60px;
  padding-top: 45px;
}


/* Main Footer */

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns:
    2fr
    1fr
    1fr
    1fr
    1.5fr;

  gap: 40px;
}


/* Sections */

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-section h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #d48484;
}

.footer-section p {
  color: #cccccc;
  line-height: 1.6;
  margin: 3px 0;
}

.footer-section a {
  color: #cccccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  color: white;
  text-decoration: underline;
}


/* Brand */

.brand-section p {
  max-width: 250px;
}


/* App */

.footer-app {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 0;

  border-top: 1px solid #444;
  padding-top: 30px;
}

.footer-app h3 {
  color: #d48484;
  margin-bottom: 8px;
}

.footer-app p {
  color: #cccccc;
}


/* App Buttons */

.app-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.app-buttons button {
  background-color: #111;
  color: white;

  border: 1px solid #777;
  border-radius: 7px;

  padding: 10px 18px;

  cursor: pointer;

  font-size: 14px;
}

.app-buttons button:hover {
  background-color: #444;
}


/* Social Media */

.footer-social {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;

  border-top: 1px solid #444;
  padding-top: 25px;
}

.footer-social h3 {
  color: #d48484;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.social-icons a {
  color: #cccccc;
  text-decoration: none;
}

.social-icons a:hover {
  color: white;
}


/* Bottom */

.footer-bottom {
  margin-top: 30px;

  padding: 20px;

  border-top: 1px solid #444;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  box-sizing: border-box;
}

.footer-bottom p {
  margin: 0;
  color: #aaa;
  font-size: 14px;
}


/* Tablet */

@media (max-width: 900px) {

  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

}


/* Mobile */

@media (max-width: 600px) {

  .footer-container {
    grid-template-columns: 1fr;
  }

  .app-buttons {
    flex-direction: column;
    width: 150px;
  }

  .social-icons {
    flex-wrap: wrap;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

}