.offers-page {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}


/* Header */

.offers-header {
  text-align: center;
  margin-bottom: 40px;
}

.offers-header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.offers-header p {
  font-size: 18px;
  color: #666;
}


/* Books Grid */

.offers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}


/* Card */

.offer-card {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: 0.3s;
}

.offer-card:hover {
  transform: translateY(-5px);
}


/* Discount */

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #e53935;
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}


/* Image */

.offer-card img {
  width: 180px;
  height: 250px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 8px;
}


/* Information */

.offer-info h2 {
  font-size: 20px;
  margin: 12px 0 5px;
}

.offer-info p {
  margin: 7px 0;
  color: #555;
}


/* Price */

.offer-price {
  margin: 15px 0;
}

.new-price {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}

.old-price {
  color: gray;
  text-decoration: line-through;
}


/* Button */

.offer-button {
  display: inline-block;
  background-color: #d48484;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 7px;
  margin-top: 10px;
}

.offer-button:hover {
  background-color: #b85f5f;
}


/* Mobile */

@media (max-width: 900px) {

  .offers-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}


@media (max-width: 600px) {

  .offers-grid {
    grid-template-columns: 1fr;
  }

}